<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/style.css">
    <title>Api dog practica</title>
</head>
<body class="breeds_html">
    <header>
        <h1><a href="..">Razas de Perros</a></h1>
        <nav>
            <ul>
                <li><a href="..">Inicio</a></li>
            <li><a id="breedName" href="#">Raza de perros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article id="container_item" >
            <table>
                <tbody>
                </tbody>
            </table>
        </article>
    </main>
    <script src="/assets/breeds.js"></script>
</body>
</html>